<h2>Directiva IF</h2>
<p>La directiva if evalua el contenido lógico de una variable</p>
<p>La variable de mostrar es {{mostrar}}</p>
<button (click)="cambiarMostrar()">Cambiar valor</button>

<div *ngIf="mostrar">
    <div class="alert alert-success" role="alert">
        A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-danger" role="alert">
        A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
</div>

<div class="mt-4">
    <input placeholder="introduce nombre J1" #inputJ1 class="form-control" />
    <input placeholder="introduce nombre J2" #inputJ2 class="form-control" />
    <button class="btn btn-primary mt-4" (click)="empezarJuego(inputJ1.value,inputJ2.value)">Empezar</button>
    <button *ngIf="jugadorUno.puntuacion<10 && jugadorDos.puntuacion<10" class="btn btn-primary mt-4"
        (click)="jugarRonda()">Jugar</button>

    <p *ngIf="mostrarJugadores">
        {{jugadorUno.nombre}}: {{jugadorUno.puntuacion}} <br>
        {{jugadorDos.nombre}}: {{jugadorDos.puntuacion}}
    </p>


    <div *ngIf="jugadorUno.puntuacion>9|| jugadorDos.puntuacion>9" class="alert alert-primary" role="alert">
        Uno de los jugadores ha ganado enhorabuena¡¡¡
    </div>
</div>